### Importing Libraries

In [1]:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

### Reading csv file

In [12]:
income_data = pd.read_csv('income.csv', header = 0, delimiter = ', ')
income_data.iloc[0]

age                          39
workclass             State-gov
fnlwgt                    77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
income                    <=50K
Name: 0, dtype: object

### Changing Column Types

In [13]:
# Changing the sex column to numeric by mapping Male to 0 and Female to 1
income_data['sex-int'] = income_data['sex'].apply(lambda row: 0 if row == 'Male' else 1)
income_data['sex-int'].value_counts()

0    21790
1    10771
Name: sex-int, dtype: int64

In [5]:
# Viewing enteries in native country
income_data['native-country'].value_counts()

United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
Greece                           29
France                           29
Ecuador                          28
Ireland                          24
Hong                             20
Cambodia                         19
Trinadad&Tobago                  19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         13
Scotland                         12
Holand-Netherlands                1
Name: native-country, dtype: int64

In [14]:
# Changing the native-country column to numeric by mapping United States to 1 and any other country to 0
income_data['country-int'] = np.where(income_data['native-country'] == 'United-States', 1, 0)
income_data['country-int'].value_counts()

1    29170
0     3391
Name: country-int, dtype: int64

### Selecting Features and Labels

In [7]:
labels = income_data[['income']]
data = income_data[['age', 'capital-gain', 'capital-loss', 'hours-per-week', 'sex-int', 'country-int']]

### Training and Validation Set

In [8]:
train_data, test_data, train_labels, test_labels = train_test_split(data, labels, random_state = 1)

### Create The Random Forest

In [9]:
forest = RandomForestClassifier(random_state = 1)

### Train the model

In [15]:
forest.fit(train_data, train_labels)

RandomForestClassifier(random_state=1)

### Test the model

In [16]:
print(forest.score(test_data, test_labels))

0.823731728288908